*{font-family: 'Work Sans', sans-serif;}

/* common style  */
main{background-color:rgba(255, 144, 14, 0.1)
}
/* nav-style */
.nav-container{ 
    padding-top:20px;
  display:flex;
    justify-content:space-evenly ; 
    gap:700px
}
.nav-title{font-size:34px;
        color: #131313;
    }
.nav-info{display: flex;
    font-size:18px;
    gap: 10px;
}

/* header-container */
.banner-img{height:700px;
width:100%;}

.header-container{text-align: center;}
.header-title{
    font-size:64px}
.btn-exp{height:64px;
 width:164px ;
 background-color:#FF900E ;
border-radius:20px;
border:none; 
 margin:50px;}
 
 /* first- section  */


.team-container{display:flex;
     margin-top:200px;
    gap:50px;
    margin-left:200px;
    }
 .team-imgs{display: flex;
    display: grid;
         grid-template-columns:repeat(2,1fr);
        justify-items: stretch;
    }
.team-discription{ 
     margin-top:200px;
    }
    .team-title{font-size:48px;}
    /* first-section end */
    .third-container{ display: flex;
        margin-top:200px;

    }
    hr{ border-left: 6px solid #FF900E;
        border-radius:10px;
        height:100px;
        position:absolute;
        left: 10%;}
.third-title{position:absolute;
    left: 11%; font-size:30px ;
}

.third-discription{margin-top:120px;
    position:absolute;
    left: 11%;}
.third-infos{ margin-top:200px;
     position:absolute;
    left: 11%; 
gap:20px}

.trd-info{border:none;
     border-radius:20px;
     padding:20px;
 box-shadow: 10px 10px 10px gray;}

 .third-img{position: absolute;
 
            left:50%
}
 .btn-year{margin-top:50%;
    margin-left:50%;
    border-radius:20px;
    background-color:#FF900E;
    font-size:50px;
    width:322px;
height:200px;} 

.btn-year:hover{ background-color: crimson; 
                 transition-duration:1s; 
                 transform: rotate3d(0);}
/* fourth styles */

 .frt-header{margin-top:120px;
  margin-left:10%;}

  .icons{ 
    margin-top:100px;
      display: flex;
justify-content: center;
justify-content: space-evenly;
}
 .icon {   padding:30px;
    border: 2px solid #FF900E;
    border-radius:20px;
 }
 .icon:hover{background-color: aqua ; 
     transition-duration:2s;
     transform: rotate(360deg);
}
 .icon-title{font-size:45px;}
 .icon-dis{font-size:20px;}

 /* fifth styles */
.fifth-header{ margin-top:100px;
    }

    .fth-title{text-align: center;}
    .fth-dis{text-align: center;}
.fifth-container{ 
    margin-top:50px; 
    margin-left:13%;
     display: flex; 
 gap:100px 
  }
/* six styles */

 .six-container{  margin-top:250px;
    display: flex;
            gap:20%;}
    .six-img{ margin-left:10%; 
   
     border-radius:2px;}
    .article-cotainer{ 
        margin-right:20%; 
            font-size:25px;
        
    }
    
    .arcticle-title{font-size:45px;
   }

  /* footer style */
 
   .footer{  margin-top:150px;
    margin-left:20%;
    height:100px ;
    width:60%;
     background-color:#FFF4E7;
     border-radius:20px;
     
    }

    .footer-title{ padding-top:30px;
          text-align: center;}


    /*---------------------
    ------------------
     all media query 
    --------------------
    ----------------------*/
@media screen  and  (max-width:576px)
{
    
}




    
